@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --primary-color:#8ECAE6;
    --secondary-color:#219EBC;
    --accent1-color:#FFB703;
    --accent2-color:#FB8500;
    --heading-font:"Verdana";
    --paragraph-font:"Montserrat";
    --nav-background-color:#023047;
    --nav-link-color:#FFB703;
    --nav-hover-link-color:#023047;
    --nav-hover-background-color:#219EBC;
}
body        { max-width:960px; padding:20px; font-family:var(--paragraph-font); display:grid; }
header      { padding:20px; background-color:#023047; color:var(--primary-color); display:grid; grid-template-columns:250px 4fr; }
footer      { display:flex; justify-content:space-between; }
p           { padding:10px; }
nav         { background-color:var(--nav-background-color); display:flex; justify-content:space-evenly; align-items:last baseline; text-align:center; }
nav a       { display:block; color:var(--nav-link-color); text-decoration:none; padding:15px; flex:1 1 100%; }
nav a:link, nav a:visited { color:var(--nav-link-color); }
nav a:hover { color:var(--nav-hover-link-color); background-color:var(--nav-hover-background-color); }
h1, h2, h3, h4, h5, h6  { font-weight:bold; }
h1          { color:var(--accent2-color); padding:10px 0; font-size:4em; }
h2          { padding:1em 0; }
p           { color:black; padding:0; }
main        { margin-bottom:20px; }
li          { list-style-type:none; padding:15px; }

 /* Class Selectors */

 .hero      { position:relative; margin-top:25px; }
 .hero img  { display:block; width:100%; height:auto; }
 .hero h1   { position:absolute; background-color:gray; top:-10px; width:100%; text-align:center; }
 .hero article { position:absolute; top:160px; left:80px; background-color:lightskyblue; width:800px; }
 .hero > article img { float:right; width:auto; padding:1em; }
 .hero > article p { padding:1em; }
.img-layout { display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr; }
.img-layout img { width:155px; }

/* Form layout */

form        { display:grid; gap:5px; padding:20px 40px; background-color:var(--primary-color); width:fit-content; font-size:1em; }
label,input,textarea,select { padding:0; margin:0; display:block; }
label       { margin-top:20px; }
input,select { padding:5px; }
textarea    { height:100px; }
.button     { padding:10px; background-color:var(--nav-hover-link-color); color:white; font-size:1.5em; } 
.code       { background-color: lightgray; }

.together   { display:inline; } 
.profiles   { display:grid; grid-template-columns:auto; justify-content:space-evenly; }